<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body>
    {% include nav.html %}

    <div class="container">
      <center>
        {{ content }}

        <script type="text/javascript" src="/aboutme/quotes.js"></script>

        <style>
          Table {
            text-align: center;
            table-layout: auto;
          }

          Td {
            font-family: "Times New Roman", Times, serif;
            font-size: 24px;
            font-style: italic;
            width: 600px;
            height: 250px;
            text-align: left;
            vertical-align: middle;
          }
        </style>

        <table>
          <tr>
            <td id="quoteText">
            </td>
          </tr>
        </table>

        <script type="text/javascript">
          var text = document.createElement('blockquote');
          var whichquote = Math.floor(Math.random() * (quotes.length - 1));
          document.getElementById("quoteText").appendChild(text);
          waitForIt();

          function waitForIt() {
            var skip = Math.floor(Math.random() * 5);
            whichquote = (whichquote + skip) % quotes.length;
            text.innerHTML = quotes[whichquote];
            var delay = 400 + (text.innerHTML.length * 60);
            setTimeout(waitForIt, delay);
          }
        </script>
      </center>
    </div>
  </body>
  {% include footer.html %} {% include scripts.html %}
</html>
